[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = https://github.com/Cinition/raylib
[submodule "dependencies/zstd"]
	path = dependencies/zstd
	url = https://github.com/facebook/zstd
